body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c5f8d;
    color: white;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3c5f8d;
    color: white;
    margin-top: 20px;
}

footer hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 10px 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

h4 {
    color: #333;
}

input[type="text"], input[type="number"], input[type="date"], input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
}

button {
    background-color: #3c5f8d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: hsla(214, 40%, 39%, 0.589);
}

.card-container {
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.card-container h2 {
    margin-top: 0;
}

.student-card {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.student-card p {
    margin: 5px 0;
}

